<div class="border-top border-warning card-background">
  <a href="cocktails/new" class="btn btn btn-dark mt-5 ml-5">+ Create your own cocktail</a>
  <div class="d-flex justify-content-between flex-wrap ">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do  %>
        <div class="card m-5">
          <%= image_tag("#{cocktail.photo}") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
