<div class="home-banner">
  <div class="button-create"><a href="cocktails/new" class="btn btn-warning btn-lg">+ Create your very own cocktail</a>
  </div>
</div>

<div class="border-top border-warning card-background">
    <a href="cocktails" class="btn btn btn-dark mt-5 ml-5">See all cocktails</a>

  <div class="d-flex justify-content-between flex-wrap">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do  %>
        <div class="card m-5" style="background-image: url('<%= image_path(cocktail.photo, height: 350, width: 350, crop: :fill) %>')">
        <div class="card-name"><%= cocktail.name %></div>
      <% end %>
      <%= link_to image_tag("heart_symbol_on.png", class: "card-heart"), "#" %>
      </div>
    <% end %>
  </div>
</div>
