.home-banner {
  display: block;
  background-image: asset-url('banner.jpg');
  background-size: cover;
  text-align: center;
  height: 450px;
  width: 100%;
  position: relative;
}

.button-create{
  position: absolute;
  top: 15em;
  left: 8em;
}

body{
  margin: 0;
}
