.home-banner {
  background-image: asset-url('banner.jpg');
  background-size: cover;
  text-align: center;
  height: 500px;
  width: 100vw;
}

.navbar-banner {
  background-image: asset-url('navbar_bgd.jpg');
  background-size: cover;
  text-align: center;
  height: 60px;
  width: 100vw;
}
