.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-banner {
  background-image: asset-url('navbar_bgd.jpg');
  background-size: cover;
  text-align: center;
  height: 60px;
  width: 100vw;
}

